@model IEnumerable<HelloBooks.Models.Book>

@{
    ViewBag.Title = "Library";
}

<h2>Library</h2>

<p>
    @Html.ActionLink(" Add Book", "Create", null, new{ @class="btn   btn-default btn-lg glyphicon glyphicon-plus"})
	
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPageCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoneWithBook)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details","Books",new {id=item.Id}))'">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPageCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoneWithBook)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
