@model IEnumerable<HelloBooks.Models.ReadingAvailability>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadingEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalenderEventId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReadingEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalenderEventId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
